:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c6c6c6;
  padding: 1rem;
  margin-bottom: 24px;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}